{% extends 'public/layout.html.twig' %}

{% block title %}
    {{ entity.translate(locale).title }} | {{ parent() }}
{% endblock %}

{% block section %}

     <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <h3>{{ entity.translate(locale).title }}</h3>
               <hr>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               {{ entity.translate(locale).body | raw }}
          </div>
     </div>
{% endblock %}