{% if app.session.flashBag.has('success') %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>	<i class="icon fa fa-check"></i> Success!</h4>
            {{ flashMessage | raw }}
        </div>
    {% endfor %}
{% endif %}